<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="cadenaConexion" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\LMB_v2003.mdb" />
  </connectionStrings>
</configuration>